/* Style général */
.separator {
  height: 2px;
  background-color: #C49D52;
  margin: 20px 0;
}


label {
  color: #C49D52;
  font-family: 'Cormorant Unicase', serif;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

/* Champ de recherche avec icône croix */
#search {
  background-color: rgb(3, 3, 3);
  border: 2px solid #C49D52;
  color: white;
  font-size: 16px;
  padding: 10px 35px 10px 10px;
  
  font-family: 'Cormorant Unicase', serif;
  position: relative;
  outline: none;
}

#search:focus {
  border-color: #FFD700;
} 

/* Bouton croix intégré */
#search + button {
  background: none;
  border: none;
  color: #C49D52;
  font-size: 20px;
  position: relative;
  left: -30px;
  cursor: pointer;
  font-weight: bold;
}

#search + button:hover {
  color: #FFD700;
}

/* Sélecteur stylisé */
#sortOptions {
  background-color:rgb(3,3,3);
  color: rgb(99, 99, 99);
  border: 2px solid #C49D52;
  font-size: 16px;
  padding: 10px;
  
  font-family: 'Cormorant Unicase', serif;
  appearance: none; /* Cache l'apparence native */
  cursor: pointer;
}

#sortOptions:hover {
  border-color: #FFD700;
}

/* Sélecteur déroulant */
#sortOptions::after {
  content: '▼';
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #C49D52;
}

/* Style de la grille des produits */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  margin-top: 100px;
}
